*,
*::after,
*::before {
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(54, 135, 234);
}

main {
    position: absolute;
    top: 50%;
    left: 50%;


    display: flex;
    flex-direction: column;
    align-items: center;
    translate: -50% -50%;
    width: 100%;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 20px 0 20px;

    background-color: rgba(36, 226, 182, 0.37);
}

input {
    cursor: pointer;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 20px;
    border-radius: 25px;
    background-color: rgba(36, 226, 182, 0.266);
}

header h1 {
    border: dashed black;
    border-radius: 50%;

    rotate: 15deg;
    padding: 10px 5px 10px 5px;
    /* animation: scale 1s infinite alternate ; */
    animation: spin 3s infinite forwards linear alternate;
}


.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-container a {
    width: 18vw;
    max-width: 200px;
    min-width: 100px;
    padding: 10px;

    background-color: rgb(28, 153, 220);
    color: inherit;
    text-decoration: none;

    font-size: 20px;

    -webkit-box-shadow: 5px 3px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 3px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 3px 3px 0px rgba(0, 0, 0, 0.75);

    cursor: pointer;

    transition: 300ms;
}

.nav-container a:hover {
    scale: 1.1;
    border-radius: 25px;
    background-color: rgb(13, 142, 13);
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;

    margin-top: 50px;
}

label {
    border: solid;
    border-radius: 25px;
    padding: 1.5vw;
    background-color: rgba(173, 216, 230, 0.572);
    width: 50vw;
    min-width: 300px;

    -webkit-box-shadow: 14px 13px 13px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 13px 13px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 14px 13px 13px -1px rgba(0, 0, 0, 0.75);
}

form button {
    width: 100px;
    place-self: center;

    padding: 10px;
    border: solid;
    border-radius: 25px;

    background-color: rgba(255, 255, 0, 0.772);

    cursor: pointer;

    -webkit-box-shadow: 14px 13px 13px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 13px 13px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 14px 13px 13px -1px rgba(0, 0, 0, 0.75);
}

@keyframes scale {
    to {
        scale: 1.1;
        color: bisque;
    }
}

@keyframes spin {
    to {
        rotate: -0.10turn;
    }
}

@media screen and (width <=450px) {
    .nav-container {
        gap: 10px;
    }

    .nav-container a {
        padding: 10px 1px;
        min-width: 70px;
        font-size: 17px;
    }

    .form-container {
        margin-top: 10px;
    }

    label {
        padding: 10px;
    }

    header h1 {
        margin-right: 5px;
    }
}